html {
    margin: 0;
    padding: 0;
}

main {
    background-color: #4b8900;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.game-nav {
    margin-top: 20px;
    padding: 1rem;
    height: 10%;
}

.game-nav > a{
    margin-right: 10px;
}

.hand-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 70%;
    align-items: flex-start;
}

.card-conainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}

.held-text {
    font-family: BebasNeue;
    display: block;
    text-align: center;
    font-size: 2.5rem;
    color: #f0d907;
    opacity: 0;
}

.held {
    opacity: 1;
}

/* TODO: Figure out styling to keep cards on page */
.card-container > img {
    width: 100px;
}