@font-face {
  font-family: BebasNeue;
  src: url(./assets/fonts/BebasNeue-Regular.woff2);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 25px;
  position: relative;
  font-family: BebasNeue, cursive;
  font-size: 6rem;
  text-align: center;
  color: #f0d907;
  /* text-shadow: 3px 3px #c7a902; */
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav > a {
  display: block;
  margin-bottom: 20px;
}